:host {
	display: flex;
	flex: 1;
	flex-direction: column;
	overflow: hidden;
}

.toolbar {
	flex: 0;
	background-color: grey;
}

.toolbar svg {
	cursor: pointer;
	display: inline-block;
	height: 3rem;
	width: 3rem;
}


.viewer {
	flex: 1;
	position: relative;
	overflow: hidden;
}

.params {
	display: flex;
	flex-direction: column;
	min-width: 30rem;
	overflow: auto;
}

.container {
	display: flex;
	flex: 1;
	overflow: hidden;
	justify-items: center;
}

.expression {
	display: block;
}

textarea {
	padding: 0.5rem;
}

label>* {
	padding: 0.2rem;
}

.parameters {
	display: flex;
	flex-direction: column;
	gap: 0.3rem;
	padding: 0.5rem;
}

.parameter {
	padding: 0.5rem;
	display: block;
	background-color: darkgreen;
}

.parameter>.title {
	width: 100%;
	text-align: center;
	background-color: darkgrey;
	box-sizing: border-box;
}

.parameter>.path {
	width: 100%;
	display: flex;
	/*box-sizing: border-box;*/
}

.parameter>.path>input {
	flex: 1;
}

.parameter>.path>.open {
	cursor: pointer;
}

.parameter>.childs {
	display: flex;
	flex-direction: column;
}

.line-parameter {
	display: flex;
}

.line-parameter>.color {
	flex: 1;
}
