:host {
	display: flex;
	flex: 1;
	flex-direction: column;
	overflow: hidden;
}

.toolbar {
	flex: 0;
	background-color: grey;
}

.toolbar svg {
	cursor: pointer;
	display: inline-block;
	height: 3rem;
	width: 3rem;
}


.viewer {
	flex: 1;
	position: relative;
	overflow: hidden;
}

.params {
	display: flex;
	flex-direction: column;
}

.container {
	display: flex;
	flex: 1;
	overflow: hidden;
	justify-items: center;
}

.expression {
	display: block;
}

textarea {
	padding: 0.5rem;
}

label>* {
	padding: 0.2rem;
}

.variables {
	display: flex;
	flex-direction: column;
	gap: 0.3rem;
	padding: 0.5rem;
}

.variable {
	padding: 0.5rem;
	display: block;
	background-color: darkgreen;
}

.variable>.title {
	width: 100%;
	text-align: center;
}

.variable>.path {
	width: 100%;
	display: flex;
	/*box-sizing: border-box;*/
}

.variable>.path>input {
	flex: 1;
}

.variable>.path>.open {
	cursor: pointer;
}
