:host {
	display: flex;
	flex-direction: column;
	width: 25%;
}

.vpk-item {
	cursor: pointer;
}

harmony-tree {
	overflow: auto;
}

.repositories {
	flex: 0 0 20%;
}

.files {
	flex: 0;
}

.file-list {
	--harmony-tree-display-root: flex;
}

.file-list:hover {
	width: max-content;
	min-width: 100%;
	max-width: 50vw;
	z-index: 10;
}
