:host {
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

.vpk-item {
	cursor: pointer;
}

harmony-tree {
	overflow: auto;
}

.repositories {
	flex: 0 0 20%;
}

.files {
	flex: 0;
}

.file-list {
	--harmony-tree-display-root: flex;
}
