:host {
	display: flex;
	flex: 1;
	flex-direction: column;
	overflow: hidden;
}

.toolbar {
	flex: 0;
	background-color: grey;
}

.toolbar svg {
	cursor: pointer;
	display: inline-block;
	height: 3rem;
	width: 3rem;
}

.container {
	display: flex;
	flex: 1;
	overflow: hidden;
	justify-items: center;
}

.flags {
	background-color: beige;
	min-width: 10rem;
	color: black;
}

.flags label {
	display: block;
}

.image {
	/*display: flex;*/
	flex: 1;
	overflow: hidden;
	/*justify-items: center;*/
	/*align-items: center;*/
	padding: 0.5rem;
	background-color: #9d9d9d;
}

.image div {
	position: relative;
	margin: 0.5rem;
	/*flex: 0;*/
	max-width: 100%;
	max-height: 100%;
	/*display: flex;*/
	margin: auto;
}

.image img {
	/*flex: 1;*/
	/*object-fit: contain;*/
	width: 100%;
	height: 100%;
	background: linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%) 0px 0px / 1rem 1rem, linear-gradient(45deg, #fff 25%, #bfbfbf 25%, #bfbfbf 75%, #fff 75%) 0.5em 0.5em / 1em 1em;
}

.image svg {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
