:host {
	display: flex;
	flex: 1;
	flex-direction: column;
	overflow: hidden;
}

.editor {
	flex: 1;
}

.ace_link_marker {
	position: absolute;
	border-bottom: 3px solid red;
	background: yellow;
	opacity: 30%;
}
